@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,700);

* {
    margin: 0;
    padding: 0;
}

body {
    color: #ffffff;
    background-color: #0d1117;
    font-family: Montserrat, serif;
}

.error {
    height: 100vh;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: min(35vw, 250px);
    font-family: Consolas, Menlo, Monaco, "Lucida Console, Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

h2 {
    font-size: min(11.5vw, 75px);
    color: #aaaaaa;
}

#explanation {
    font-size: 21px;
    color: #aaaaaa;
    position: absolute;
    bottom: 20px;
}

a {
    color: #518ef0;
}