@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,700);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d1117;
  font-family: Montserrat, serif;
}

#error {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

h1 {
  color: #ffffff;
  font-size: 10em;
}

h2 {
  color: #aaaaaa;
}

.explanation {
  font-size: 1.5em;
  color: #aaaaaa;
  position: absolute;
  bottom: 20px;
  text-align: center;
}

a {
  color: #518ef0;
}